CRSClient/Service References/CourseConfirmService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53563/CourseConfirmService.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53563/CourseConfirmService.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_RequestConfirmation_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestConfirmation" />
  </wsdl:message>
  <wsdl:message name="IService_RequestConfirmation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestConfirmationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CancelCourseClass_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelCourseClass" />
  </wsdl:message>
  <wsdl:message name="IService_CancelCourseClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelCourseClassResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ConfirmCourseClass_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmCourseClass" />
  </wsdl:message>
  <wsdl:message name="IService_ConfirmCourseClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmCourseClassResponse" />
  </wsdl:message>
  <wsdl:message name="IService_MakePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:MakePayment" />
  </wsdl:message>
  <wsdl:message name="IService_MakePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakePaymentResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="RequestConfirmation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RequestConfirmation" message="tns:IService_RequestConfirmation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RequestConfirmationResponse" message="tns:IService_RequestConfirmation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelCourseClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CancelCourseClass" message="tns:IService_CancelCourseClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CancelCourseClassResponse" message="tns:IService_CancelCourseClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmCourseClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ConfirmCourseClass" message="tns:IService_ConfirmCourseClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConfirmCourseClassResponse" message="tns:IService_ConfirmCourseClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakePayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/MakePayment" message="tns:IService_MakePayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/MakePaymentResponse" message="tns:IService_MakePayment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestConfirmation">
      <soap:operation soapAction="http://tempuri.org/IService/RequestConfirmation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelCourseClass">
      <soap:operation soapAction="http://tempuri.org/IService/CancelCourseClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmCourseClass">
      <soap:operation soapAction="http://tempuri.org/IService/ConfirmCourseClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePayment">
      <soap:operation soapAction="http://tempuri.org/IService/MakePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:53563/CourseConfirmService.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>