CRSClient/Service References/AttendanceService/AttendanceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AttendanceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57335/Service/AttendanceService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57335/Service/AttendanceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57335/Service/AttendanceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/nus.iss.crs.dm.Registration" />
      <xsd:import schemaLocation="http://localhost:57335/Service/AttendanceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/nus.iss.crs.dm" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAttendanceService_GetStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="IAttendanceService_GetStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IAttendanceService_SubmitAttendance_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitAttendance" />
  </wsdl:message>
  <wsdl:message name="IAttendanceService_SubmitAttendance_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitAttendanceResponse" />
  </wsdl:message>
  <wsdl:portType name="IAttendanceService">
    <wsdl:operation name="GetStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttendanceService/GetStudents" message="tns:IAttendanceService_GetStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttendanceService/GetStudentsResponse" message="tns:IAttendanceService_GetStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitAttendance">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttendanceService/SubmitAttendance" message="tns:IAttendanceService_SubmitAttendance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttendanceService/SubmitAttendanceResponse" message="tns:IAttendanceService_SubmitAttendance_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAttendanceService" type="tns:IAttendanceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/IAttendanceService/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitAttendance">
      <soap:operation soapAction="http://tempuri.org/IAttendanceService/SubmitAttendance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AttendanceService">
    <wsdl:port name="BasicHttpBinding_IAttendanceService" binding="tns:BasicHttpBinding_IAttendanceService">
      <soap:address location="http://localhost:57335/Service/AttendanceService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>